<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmc.comm.dao.IUserDao">

	<!-- 로그인  -->
	<select id="login" resultType="com.tmc.comm.dao.UserDto">
	select  
		user_id, 
		user_pw
	from tb_userinfo
	where user_id = #{user_id}
	</select>
	
	<!-- 로그인 2 -->
	<select id="login2" resultType="String">
	select  
		user_id, 
		user_pw
	from tb_userinfo
	where user_id = #{user_id}
	</select>
	
	<!-- 회원가입 -->
   <insert id="signup">
      insert into tb_userinfo (user_id,user_pw)
      values (#{param1}, #{param2})
   </insert>
   
   <!-- 비밀번호 찾기 -->
   <select id="findpwd" resultType="com.tmc.comm.dao.UserDto">
		select
		user_id,
		user_pw 
		from tb_userinfo
		where user_id = #{user_id}
	</select>
   
   	<!-- 복호화 비교할 비밀번호 -->
   	<select id="Dec_pw" resultType="String">
	select  
		user_pw
	from tb_userinfo
	where user_id = #{user_id} 
	</select>
	
   <!-- 비밀번호 찾기시 임시 비밀번호 업데이트 -->
      <update id="updatePw">
   update tb_userinfo set
		user_pw = #{param1}
	where user_id = #{param2}
   </update>
   
   <!-- 이메일 중복검사 -->
   	<select id="checkId" resultType="int">
   	select count(user_id) from tb_userinfo where user_id = #{user_id};
	</select>
	
   	<update id="keepLogin">
        update tb_userinfo set sessionKey = #{sessionid}, sessionlimit = #{date} where user_id=#{user_id}
    </update>
     
    <!--
        유효기간이 남아 있으면서 해당 sessionId를 가지는 사용자 정보를 꺼내오는 부분
     -->
    <select id="checkUserWithSessionKey" resultType="com.tmc.comm.dao.UserDto">
        select * from tb_userinfo where user_id = #{user_id} and now() > sessionlimit
    </select>
</mapper>